@import 'base';

* {
  box-sizing: border-box;
}

.main-container {
  padding-top: 20px;
  max-width: $container-width;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.loading-spinner {
  margin: 20px auto;
}

.card-item {
  width: 20rem;
  height: 20rem;
  border: $light-border;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  justify-content: center;
  display: flex;
  cursor: pointer;

  span {
    align-self: center;
  }
}

.lead {
  font-size: 20px;
}

.subtitle {
  font-size: 18px;
}

.note-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.note-body {
  padding: 1rem;
  h3 {
    font-size: 2.5rem;
    margin-bottom: 0.25rem;
  }
  ul {
    margin-bottom: 0.25rem;
    list-style: disc outside;
    margin-left: 1rem;
    padding-left: 2rem;
  }
}